* {
    border: none;
    border-radius: 0px;
    font-family: Helvetica;
    font-size: 13px;
    min-height: 0;
    margin-top: 3px;
}

window#waybar {
    background-color: transparent;
    color: #047C89;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius:0 0 5px 5px;
}
.modules-center {
  background-color: #571D61;
  border-radius: 10px;
}

#workspaces button {
    background: #1f1f1f;
    color: #ffffff;
    border-radius: 20px;

}

#workspaces button:hover {
    background: lightblue;
    color: black;
    border-bottom: 3px solid #ffffff;

}

#workspaces button.focused {
    background: #1f1f1f;
}

#workspaces button.focused:hover {
    background: lightblue;
    color: black;
    border-bottom: 3px solid #ffffff;

}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#custom-launcher,
#custom-power,
#tray,
#mode,
#idle_inhibitor,
#keyboard-state,
#mpd {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: white;
    background-color: transparent;
}
#window,
#workspaces {
}
.modules-left {
	background-color: rgba(0,0,0,0.5);
	border-radius: 0px 0px 10px 0px;
}

#clock {
    border-radius: 0px 0px 10px 0px;
}

#battery {
}

#battery.charging, #battery.plugged {
    border-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    border-color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network.disconnected {
    border-top: 2px solid #eb4d4b;
    border-left: 1px solid #eb4d4b;
    
    border-radius: 10px 0 0 0;
}


#pulseaudio.muted {}
#custom-launcher{
	margin-left:0;
}
#temperature.critical {
    background-color: #eb4d4b;
}
#tray > .passive {
    -gtk-icon-effect: dim;
    background-color: #FA8BFF;
    background-image: linear-gradient(-45deg, #FA8BFF 0%, #2BD2FF 52%, #2BD2FF 90%);
    color: black;
}
#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #FA8BFF;
    background-image: linear-gradient(-45deg, #FA8BFF 0%, #2BD2FF 52%, #2BD2FF 90%);
    color: black;
}
#keyboard-state {
    padding-bottom: 5px;
}
#keyboard-state > label.locked {
    
}
